@{
    ViewData["Title"] = "Login";
}

<div class="row top">
    <div class="col-4 offset-4">
        <div class="card">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                
                <div class="row">
                    <div class="col-12">
                        <label for="txtUsuario">Usuário</label>
                        <input class="form-control" id="txtUsuario" value="test" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-12">
                        <label for="txtSenha">Senha</label>
                        <input class="form-control" id="txtSenha" value="test" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-3">
                        <button class="btn btn-primary" onclick="Logar()">
                            Entrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>